// ant-default-vars.less
// Available theme variables can be found in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #38B2AC;
			
@body-background : #F7FAFC;
@component-background : #ffffff;

@layout-body-background : #F7FAFC;


@background-color-light : hsv(0, 0, 98%);  // background of header and selected item
@background-color-base : hsv(0, 0, 96%); // Default grey background color

@layout-header-background : #ffffff;
@layout-header-height : 60px;

@font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@font-size-base : 16px;

@menu-bg: #ffffff;

@table-row-hover-bg: #EDF2F7;
@table-header-color: #4A5568;
//@table-header-bg: @background-color-light;
//@table-header-bg: @primary-color;
@table-header-bg: white;
//.ant-table-thead > tr > th, .ant-table-tbody > tr > td {word-break: normal!important}

// Input
@input-height-sm: 50px;
@input-bg: #FBF7F7;
@input-border-color: #FBF7F7;

// Buttons
@btn-height-sm: 50px;
@btn-padding-sm: 0 15px;