// ant-default-vars.less
// Available theme variables can be found in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #18A497;

@body-background : #F5F7F6;
@component-background : #ffffff;

@layout-body-background : #F5F7F6;


@background-color-light : hsv(0, 0, 98%);  // background of header and selected item
@background-color-base : hsv(0, 0, 96%); // Default grey background color

@layout-header-background : #ffffff;
@layout-header-height : 80px;

@font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@font-size-base : 18px;

@menu-bg: #ffffff;

@table-row-hover-bg: #d5e3df;
//@table-header-bg: @background-color-light;
//@table-header-bg: @primary-color;
@table-header-bg: #a9d6cc;
//.ant-table-thead > tr > th, .ant-table-tbody > tr > td {word-break: normal!important}

	// Input
    @input-height-sm: 50px;
    @input-bg: #FBF7F7;
    @input-border-color: #FBF7F7;
    
    // Buttons
    @btn-height-sm: 50px;
    @btn-padding-sm: 0 15px;